h1 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 5em;
  color: white;
  padding: 10px;
  background-color: rgb(88, 126, 159);
  text-align: center;
}

.card-container {
  display: flex; /* Bruker flexbox layout */
  gap: 10em; /* Angir 20 piksler mellomrom mellom hver card */
  justify-content: center; /* Sentraliserer cards horisontalt i containeren */
}

.card {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: normal;
  background-color: white;
  border: 5px solid rgb(88, 126, 159);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card-text {
  padding: 15px;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  margin: 0;
  color: #555;
}
